
@{
    ViewData["Title"] = "About";
}

<h1>O nas</h1>
<p>Super studio masazu itd</p>
<img src="https://jeanbaptiste.pl/wp-content/uploads/2020/02/Jean-Baptiste-Klinika-Spa-Kielce-zabieg-dla-kobiet-Masaż-klasyczny-Kielce.jpg" />
