@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://jeanbaptiste.pl/wp-content/uploads/2020/02/Jean-Baptiste-Klinika-Spa-Kielce-zabieg-dla-kobiet-Masaż-klasyczny-Kielce.jpg" />
</div>
